{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div id="wrapper">
    <div class="top-bar">
        <span class="first"><a href="">首页</a></span><span class="top_fav"><a
            href="" target="_blank">提交种子</a></span>
    </div>
    <div class="header-div">
        <form class="search-form" action="" method="post">
            <a href="" title="磁力搜索" class="fl"><img
                    src="{% static 'img/logo.png' %}" alt="磁力搜索" class="nav-logo"></a><input
                type="text" id="search" title="Search" value="" autocomplete="off" name="s" placeholder="请输入关键词"
                class="fl mt25"><input type="submit" id="btnSearch" value="搜 索" class="blue fl mt25">
        </form>
    </div>
    <div id="sort-bar">
        <a href="" rel="nofollow">时间</a><a
            href="" rel="nofollow">热度</a><a
            href="" rel="nofollow">大小</a>
    </div>
    <div id="content">
        <div id="wall">
            <div class="search-statu">
                <span>大约36条结果，耗时 0.0120 秒。</span><span></span>
            </div>
            <div class="row">
                <div class="search-list col-md-8">
                    <div class="search-item">
                        <div class="item-title">
                            <h3><a href="" target="_blank"><em>星际</em><em>穿越</em> </a></h3>
                        </div>
                        <div class="item-list">
                            哈哈哈哈哈哈简介
                        </div>
                        <div class="item-bar">
                            <span class="cpill fileType1">视频</span>
                            <span>创建时间： <b>2015-07-05</b></span>
                            <span><b class="cpill yellow-pill">4.21 Gb</b></span>
                            <span>下载热度：<b>4364</b></span>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="active"><span>1</span></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li class="nextpage"><a
                                href="">»</a>
                        </li>
                        <li class="last_p"><a
                                href="">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="search-tips col-md-2">
                    <div class="search-notice">
                        本站搜索结果均来源于网络蜘蛛，由用户的指令自动获得，本站并没有储存任何数据，亦不对结果承担任何责任！本站已经屏蔽了99%的非法链接，如发现非法，侵权的内容请在线举报，谢谢合作！
                    </div>
                    <div id="latest-search">
                        <span class="latest-desc">大家都在搜：</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <span>
        <a href="" rel="nofollow" target="_blank">联系方式</a>|
        <a href="">磁力链接</a>|
        <a href="">磁力搜索</a>|
        <a href="">种子搜索</a>
      </span>>
</div>

<span style="display:none"></span>
{% endblock content %}
